<div>
  <label> Olá <strong>{{name}}</strong>! Tudo bem?</label>

  <p>Recebemos sua solicitação para redefinir a senha, associada a este email.
    Click no link abaixo para redefinir a senha:</p>

  <a
    href='http://localhost:3000/reset-password/{{token}}'
  >http://localhost:3000/reset-password/{{token}}</a>
</div>